In [1]:
print("Hello Jay")

Hello Jay

In [5]:
person = input("What's your name")
print('Hello,' , person)

What's your name mike

Hello, mike

In [7]:
age = 12
print(age)

12

In [11]:
x = 6
y = x * 7
print(y)

42

In [13]:
name = 'Adele Joe'
print (name)

Adele Joe

In [15]:
mango = 5
apple = 3
apple > mango

False

In [17]:
mango < apple

False

In [19]:
mango == apple

False

In [30]:
print("Hello Guys")

# Second print statement
print("How are you all?")

# Thirs print statement
print("Welcome to Python Programming")

Hello Guys
How are you all?
Welcome to Python Programming

In [32]:
num = 100

if 9 < num < 99:

    print("Two digit number")

elif 99 < num < 999:
    print("Three digit number")
elif 999 < num < 9999:
    print("Four digit number")
else:
    print("number is <=9 or >=9999")

Three digit number

In [34]:
 message = "Welcome to"
course_code = "CSC 102"
course_title = "Introduction to Problem solving"

concat = message +' '+ course_code+' '+course_title

print(concat)

Welcome to CSC 102 Introduction to Problem solving